.mat-card-custom-material {
    border: 10px;
    box-shadow: none !important;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 11px 0px rgba(214, 214, 214, 0.664) !important;;
  }
  
  .card-custom{
    width: 100%;
    border-radius: 8px;
  }