<div class="container">

  <div class="row mt-2">
    <div class="col l12">
      <button mat-mini-fab color="primary" matTooltip="Volver" matTooltipPosition="above" class="mat-elevation-z0"
        routerLink="/main">
        <mat-icon>west</mat-icon>
      </button>
    </div>
  </div>

  <mat-card class="mat-card-custom-material mt-2">
    <h1 class="text color-blue">{{ stateRegister === 'NEW' ? 'Nueva' :'Editar' }} Agencia</h1>

    <form [formGroup]="form">

      <div class="row">
        <div class="col l6">
          <div class="row">
            <div class="col l12">
              <mat-form-field class="w-100">
                <mat-label>Agencia</mat-label>
                <input matInput autocomplete="off" formControlName="agencia" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col l4">
              <mat-form-field class="w-100">
                <mat-label>Departamento</mat-label>
                <input matInput autocomplete="off" formControlName="departamento" />
              </mat-form-field>
            </div>
            <div class="col l4">
              <mat-form-field class="w-100">
                <mat-label>Provincia</mat-label>
                <input matInput autocomplete="off" formControlName="provincia" />
              </mat-form-field>
            </div>
            <div class="col l4">
              <mat-form-field class="w-100">
                <mat-label>Distrito</mat-label>
                <input matInput autocomplete="off" formControlName="distrito" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col l6">
              <mat-form-field class="w-100">
                <mat-label>Dirección</mat-label>
                <input matInput autocomplete="off" formControlName="direccion" />
              </mat-form-field>
            </div>
            <div class="col l3">
              <mat-form-field class="w-100">
                <mat-label>Latitud</mat-label>
                <input matInput autocomplete="off" formControlName="lat" />
              </mat-form-field>
            </div>
            <div class="col l3">
              <mat-form-field class="w-100">
                <mat-label>Longitud </mat-label>
                <input matInput autocomplete="off" formControlName="lon" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col l6 text" *ngIf="stateRegister === 'EDIT'">
          <img [src]="urlImg" alt="" class="img-responsive">
        </div>
      </div>

      <div class="row" *ngIf="stateRegister === 'EDIT'">
        <div class="col l12">
          <google-map [center]="mapPosition" width="100%" height="20rem">
            <map-marker [position]="mapPosition" [label]="mapLabel">
            </map-marker>
          </google-map>
        </div>
      </div>

      <div class="row">
        <div class="col l12" align="end">
          <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="functions.save()">Guardar
            Cambios</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>
